body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.personal_imformation {
  display: flex;
  text-align: left;
  padding-left: 10%;
  margin-top: 4%;
  line-height: 29px;
  letter-spacing: 4px;
}
.sub_title_cv {
  background: green;
  width: 100%;
  text-align: center;
  color: wheat;
}
.title_p {
  color: blue;
  text-decoration: bold;
}
.experiencia_laboral {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 20px;
}
ul:hover {
  background: black;
  border-radius: 5px;
}
li {
  display: none;
  background: black;
  margin-left: 5px;
  border: green;
}
li:hover {
  background: darkgrey;
  color: black;
}
ul:hover li {
  display: block;
  color: whitesmoke;
  padding-left: 0px;
  width: 100%;
  border-radius: 5px;
}
ul {
  background: black;
  color: wheat;
  width: 15%;
  padding-left: 6px;
}
p:hover {
  font-size: 25px;
}
.sub_title_cv_formacion {
  background: green;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  color: wheat;
}
.idiomas_parrafo {
  margin-left: 10%;
}
.foto_CV {
  height: 164px;
  width: 172px;
  background-image: url(./assets/DSC_0015.JPG);
  background-size: 300px 184px;
  transform: rotate(270deg);
  padding: 3em;
}
